.receita-card {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  flex: 1;
  height: 0;

}

.receita-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
